<head>
    <link rel='stylesheet' href='/stylesheets/custom.css'/>
</head>
<body>
<div class="container1">
  <div class="split left">
    <h1>E - Commerce </h1>
    <button onclick="window.location.href='/e-comm'">Visit Site</button>
  </div>
  <div class="split right">
    <h1>Smart  E - Learning</h1>
    <button onclick="window.location.href='/e-learn'">Vist Site</button>
  </div>
</div>
</body>

