<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <div class="chat">
    <a href="localhost:8080" target="_blank">Online Chat Support</a>
  </div>
  <nav class="navbar">
    <div class="nav-wrapper navbar-inner">
      <a href="/" class="brand-logo">Student Solutions</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#courses">Our Courses</a></li>
        <li><a href="/users/login">Sign In</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>
  <div class="pimg1">
    <div class="ptext"> 
      
      <div class="animated zoomIn border showcase">
        <h1>Smart E-Learning</h1>
        <p>A simple and effective e-learning Platform for everyone. </p>
        <p>Sign Up to get started.</p>
        <a href="/users/register" class="button">Sign Up</a>
      </div>

    </div>
  </div>
  <h1 id="courses" class="header">Our Courses</h1>
  <div class="container">
    <div class = "row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/html.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">HTML & CSS<i class="material-icons right">more_vert</i></span>
            <p><a href="/e-learn/java">Go to Course</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">HTML & CSS<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 col m4">  
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="img/c++.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Basic C++<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Go to Course</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Basic C++<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
      <div class="col s12 col m4">  
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/js.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">JavaScript<i class="material-icons right">more_vert</i></span>
            <p><a href="#">Go to Course</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">JavaScript<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/java.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Core Java<i class="material-icons right">more_vert</i></span>
            <p><a href="#">Go to Course</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">HTML & CSS<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/java.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">HTML & CSS<i class="material-icons right">more_vert</i></span>
            <p><a href="#">Go to Course</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">HTML & CSS<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/java.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">HTML & CSS<i class="material-icons right">more_vert</i></span>
            <p><a href="#">Go to Course</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">HTML & CSS<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>  
      </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>