<head>
      <link rel="stylesheet" href="/stylesheets/verify.css">
</head>
{{!-- <div class="container">
<form action="/users/verify" method="post">
      <div class="fa fa-key"></div>
      <input type="tel" name="pin" placeholder="1234" required>
      <input type="hidden" name="requestId" value="{{ requestId }}" >
      <input type="submit" value="Verify PIN">
</form>
</div>  --}}
<div class="container">
<header class="flex-row">
    <h1>Verify Your PIN</h1>
  </header>

  <section id="main" role="main">
    <form action="/users/verify" method="post">
      <div class="fa fa-key"></div>
      <input type="tel" name="pin" placeholder="1234" required>
      <input type="hidden" name="requestId" value="{{ requestId }}" >
      <input type="submit" value="Verify PIN">
    </form>
  </section>
</div>
